{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^types$",
    "@/types/(.*)$",
    "@/config/(.*)$",
    "@/lib/(.*)$",
    "@/hooks/(.*)$",
    "@/components/ui/(.*)$",
    "@/components/(.*)$",
    "^@uploadthing/(.*)$",
    "^uploadthing/(.*)$",
    "",
    "^~/(.*)$",
    "",
    "^[./]"
  ],
  "importOderSeparation": false,
  "importOderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderParserPlugins": ["typescript", "jsx"],
  "importOderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
